%-*- mode: erlang; erlang-indent-level: 2 -*-
{erl_opts,            [debug_info, warnings_as_errors]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.

{dialyzer, [{plt_apps, all_deps}]}.

{plugins,
 [{rebar3_abnfc_plugin,
   {git, "git@github.com:massemanet/rebar3_abnfc_plugin.git",
    {ref, "283cdc1"}}}
 ]}.
